@model LoginViewModel

<!DOCTYPE html>
<html lang="en">


<!-- login23:11-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/myCss.css">

    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center background">
                <div class="account-box">
                    <form asp-action="Login" asp-controller="Authentication" method="post" class="form-signin">
                        <div class="account-logo">
                            <a href="index-2.html"><img src="~/AdminFiles/assets/img/logo-dark.png" alt=""></a>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName">Username or Email</label>
                            <input asp-for="UserName" type="text" autofocus="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" class="form-control">
                        </div>
                        <div class="form-group text-right">
                            <a href="forgot-password.html">Forgot your password?</a>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary account-btn">Login</button>
                        </div>
                        @if (Model.Selected == "user")
                        {   
                           <div class="text-center register-link">
                                Don’t have an account? <a asp-action="Register" asp-controller="Authentication" asp-route-selected="@Model.Selected">Register Now</a>
                           </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/AdminFiles/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/AdminFiles/assets/js/popper.min.js"></script>
    <script src="~/AdminFiles/assets/js/bootstrap.min.js"></script>
    <script src="~/AdminFiles/assets/js/app.js"></script>
</body>


<!-- login23:12-->
</html>