@model RegisterViewModel

<!DOCTYPE html>
<html lang="en">


<!-- register24:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/myCss.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper  account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box background">
                    <img src="~/AdminFiles/assets/img/LoginAndRegisterWallpaper.jpg" alt="image"/>
                    <form asp-action="Register" asp-controller="Authentication" method="post" class="form-signin">
                        <div class="account-logo">
                            <a href="index-2.html"><img src="~/AdminFiles/assets/img/logo-dark.png" alt=""></a>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label asp-for="Selected">Selected</label>
                            <input asp-for="Selected" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName">Username</label>
                            <input asp-for="UserName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Email Address</label>
                            <input asp-for="Email" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="MobileNumber">Mobile Number</label>
                            <input asp-for="MobileNumber" type="number" class="form-control">
                        </div>
@*                         <div class="form-group checkbox">
                            <label>
                                <input type="checkbox"> I have read and agree the Terms & Conditions
                            </label>
                        </div> *@
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Signup</button>
                        </div>
@*                         <div class="text-center login-link">
                            Already have an account? <a asp-action="Login" asp-controller="Admin">Login</a>
                        </div> *@
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/AdminFiles/assets/js/jquery-3.2.1.min.js"></script>
	<script src="~/AdminFiles/assets/js/popper.min.js"></script>
    <script src="~/AdminFiles/assets/js/bootstrap.min.js"></script>
    <script src="~/AdminFiles/assets/js/app.js"></script>
</body>


<!-- register24:03-->
</html>