@model RegisterViewModel

<!DOCTYPE html>
<html lang="en">


<!-- register24:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/AdminFiles/assets/css/myCss.css">
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div style="height:100vh">
        <div style="display:flex;flex-direction:row;justify-content:space-around;margin:auto;background-color:rebeccapurple;height:100%;" class="background">
@*             <h1 style="height:80vh;background-color:red;margin-top:20px">dfdsf</h1>
            <h1 style="height:80vh;background-color:red">dfdsf</h1>
            <h1 style="height:80vh;background-color:red">dfdsf</h1> *@
            <div style="height:80vh;width:20%;background-color:red;border-radius:30px;margin-top:4%">
                <a href="/Admin/Selected?selected=User">
                   <h1>User</h1>
                </a>
             </div>
            <div style="height:80vh;width:20%;background-color:red;border-radius:30px;margin-top:4%">
                <a href="/Admin/Selected?selected=Doctor">
                    <h1>Doctor</h1>
                </a>
            </div>
            <div style="height:80vh;width:20%;background-color:red;border-radius:30px;margin-top:4%">
                <a href="/Admin/Selected?selected=Admin">
                    <h1>Admin</h1>
                </a>
            </div>
        </div>
    </div>
</body>


<!-- register24:03-->
</html>